body {
  padding-top: 50px;
  background-color: #F9F9F9;
}

.container {
  background-color: #FFF;
  padding: 40px;
  border: 1px solid #D6D6D6;
  margin-bottom: 40px;
}

#uploadProgress {
  display: none;
}

#results {
  display: none;
}

.header {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
}

.footer {
  border-top: 1px solid #E0E0E0;
  margin-top: 20px;
  padding: 10px;
}